:root {
}

.score {
    font-size: 50px;
    color: white;
    unity-text-align: middle-center;
    align-self: center;
}

.botonesGO {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.boton:hover {
    transition-duration: 0.5s;
    scale: 1.2 1.2;
}
